#canvas {
	width: 322px;
	height: auto;
	margin: 0 auto;
}
#header_wrap {
    width: 320px;
    border: 1px solid #DDD;
    height: auto;
	background-color: #109d59;
}
#title {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
    border-bottom: 1px solid #DDD;
}
.320 {
    display: block;
}
.wrap {
    width: 320px;
    height: auto;
    margin: 0 auto;
}
.cwrap {
    width: 320px;
    margin: 0 auto;
    border: 1px solid #DDD;
}
.left_side {
    width: 300px;
    float: none;
    margin-left: 10px;
    margin-right: 10px;
}
.right_side {
    width: 300px;
    float: none;
    margin-left: 10px;
    margin-right: 10px;
}
.620 {
    display: block;
    clear: both;
}
#header {
    height: auto;
    height: auto;
    background-color: #fff;
    position: relative;
	background-color: #109d59;
}
#header_wrap {
    height: auto;
    height: auto;
    position: relative;
}
.row {
    float: none;
    clear: both;
    width: 100%;
    margin: 0;
}
#search_form {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    border: 1px solid #109d59;
}
.row input[type="text"] {
    float: none;
    width: 300px;
     margin: 0 auto;
}
#search {
    float: none;
    height: 30px;
    position: relative;
}
.content_wrap {
    margin-left: 6.666px;
    width: 300px;
    height: auto;
}

.content {
    width: 140px;
    height: auto;
    margin-right: 6.666px;
    float: left;
    position: relative;
}
.content span a img {
    width: 140px;
    height: 79px;
    display: block;
}

.content .title_content h2 {
    font-size: 12px;
    height: 16px;
    width: 140px;
    margin-bottom: 2px;
    line-height: 16px;
    font-weight: 500;
}
.content .title_content h2 a {
    white-space: nowrap; 
    height: 13px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title_content {
    margin: 7px 0;
    height: 32px;
    overflow: hidden;
}
.content .title_content p {
    font-size: 11px;
}

/*Content Hover */
.content span {
    display: block;
    height: 79px;
    width: 140px;
    position: relative;
}
.content span .overlay {
	position:absolute;
	border:0;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	background-image:url(../img/icon-dl-32.png);
	background-repeat:no-repeat;
	background-position:center center;
	opacity:0;
	-webkit-transition:.25s;
	-moz-transition:.25s;
	-ms-transition:.25s;
	-o-transition:.25s;
	transition:.25s;
}
.content span:hover .overlay {
	cursor:pointer;
	z-index:999;
	opacity:1;
}
.content span .overlay{visibility:hidden;}
.content span:hover .overlay{visibility:visible;}
.content span .overlay{
	background-image:url(../img/icon-dl-32.png);
}

/*Nav*/
#nav {
    height: -webkit-fit-content;
     height: -moz-fit-content;
          height: fit-content;
    clear: both;
    float: none;
    width: 100%;
    background-color: #109d59;
    border: 1px solid #109d59;
    position: relative;
	display: none;
}
.nav ul li {
    width: 300px;
    float: none;
    margin: 0;
    padding: 0 10px;
    clear: both;
    position: relative;
    background-color: #109d59;
}
.nav ul li:first-child {
    margin-left: 0;
}
.nav ul li a {
    color: #ffffff;
    font-size: 13px;
    line-height: 40px;
    padding: 0 15px;
}
.menu-res-button {
    display: block;
    width: 100%;
    height: 42px;
	border: 1px solid #109d59;
	background-color: #109d59;
}
.menu-res-button a {
	width:100%;
	height:42px;
	display:black;
}
.menu-res-button img {
	width: 20px;
	height: 20px;
	margin-right:140px;
	margin-left:140px;
	margin-top:10px;
	margin-bottom:10px;
	display:black;
}
.content_wrap_single video {
    width: 300px;
    height: 168px;
}
#videoid {
	width:300px;
	height:168px;
}
#title a {
	width:320px;
	margin-left:auto;
	margin-right:auto;
}
.footer {
    width: 90%;
    clear: both;
    position: relative;
    z-index: 10;
    height: 64px;
    margin: 0 auto;
    margin-top: 15px;
}


.menu_bottom {
    float: left;
    width: auto;
    padding: 0;
    margin: 8px 15px 5px 10px;
}
.menu_bottom li {
    float: left;
    list-style: none;
}
.menu_bottom li a {
    padding-right: 20px;
    font-size: 11px;
    color: #c2c2c2;
}
.menu_bottom a:hover {
    color: #444444;
}

.copyright {
    margin-left: 20px;
    color: #ccc;
	font-size:10px;
}
.copyright p {
    color: #444444;
    font-size: 10px;
	float:left;
}
.copyright a {
	float:left;
	color: #c2c2c2;
	margin:0 5px;
}
.copyright a:hover {
    color: #444444;
}